body {
    background-color: cadetblue;
}
h1 {
    color: black;
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {  

    font-family: 'Times New Roman', Times, serif;
    color: cornsilk;
}
ul {
    background-color: burlywood;
}
h2 {
    color: black;
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    color: black;
    background-color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    list-style: none;
}
p {
}
